#espresso-data-collect-optin-container, #espresso-ee4-admin-notice-container {
    padding: 10px;
}

#espresso-data-collect-optin-container ul {
    list-style: disc;
    margin-left: 20px;
}

#espresso-data-collect-optin-container button.data-optin-button, #espresso-ee4-admin-notice-container button.ee4-admin-notice-button {
    float: right;
    margin-right: 8px;
}